hello_world_get:
  request:
    path: /hello/world
    methods: ['GET']
  response:
    content: |
      Hello {{ request.query.get('name') }}!

hello_world_post:
  request:
    path: /hello/world
    methods: ['POST']
  response:
    content: @resources/hello_world_post.html.twig
